<div class="header clear">
	<div class="subscribe">
		<ul class="social">
			<li class="twitter"><a href="http://twitter.com/cantorrodista"><span class="accesible">Twitter</span></a></li>
			<li class="flickr"><a href="http://flickr.com/cantorrodista"><span class="accesible">Flickr</span></a></li>
			<li class="rss"><a href="http://cantorrodista.com/atom.xml"><span class="accesible">Rss</span></a></li>
			<li class="delicious"><a href="http://delicious.com/cantorrodista"><span class="accesible">Delicious</span></a></li>
			<li class="facebook"><a href="http://facebook.com/alfredosolano"><span class="accesible">Facebook</span></a></li>

		</ul>
	</div>


	<h1><a href="http://cantorrodista.com">c<span>a</span>nt<span>o</span>rr<span>o</span>d<span>i</span>st<span>a</span></a></h1>
</div>

