<div class="sidebar">
	<ul>


		<li>
            <h3>Posts relacionados</h3>
             <ul class="posts">
                {% for post in site.related_posts limit:5 %}
             <li><p>{{ post.date | date_to_string }}</p> <span><a href="{{ post.url }}">{{ post.title }}</a></span></li>
             {% endfor %}
            </ul>
        </li>



	</ul>

	<div class="lcw2cont">
		<div class="lcw2h">
			<div class="lcw2b2"></div>
			<div class="lcw2b1"></div>
			<div class="lcw2hc">
				<a href="http://cantorrodista.lacoctelera.net">cantorrodista</a>
			</div>
		</div>
		<div id="lcw2-photos-content" class="lcw2c">
			<script src="http://www.lacoctelera.com/cantorrodista/widget_fotos"></script>
		</div>
		<div class="lcw2f">
			<div class="lcw2fc">
				<a href="http://www.lacoctelera.com" id="lcw2logo"></a>
				<a href="http://www.lacoctelera.com" title="Crea tu blog en La Coctelera - gratis, fácil y rápido">crear blog</a>
			</div>
			<div class="lcw2b1"></div>
			<div class="lcw2b2"></div>
		</div>
	</div>
	<embed src="http://iwannagothere.com/swf/cantorrodista" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="230" height="260"></embed>


</div>

