---
layout: default
---
<div id="post">

    
<h1>{{ page.title }}</h1>
<div id="date">
<p>Publicado el {{ page.date | date_to_string }}</p>
</div>
{{ content }}

<div id="categories">

<dl>
    <dt>Hablo de </dt>
    <dd>
    {% for category in page.categories %}
		{{category}}
	{% endfor %}
    </dd>
</dl>


</div>
<div class="share_tab">
<fb:share-button href="http://cantorrodista.com{{ page.url }}" type="box_count"></fb:share-button>
</div>
<div class="fb_comments">
<h3>Deja tu comentario: </h3>
    <fb:comments> </fb:comments>
</div>
</div>

